@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", sans-serif;

  /* color customizations */
  --color-primary: #0a8cff;
  --color-dark: #151515;
  --color-secondary: #656464;
}

html {
  scroll-behavior: smooth;
}
