---
import Layout from "../layouts/Layout.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
import { Image } from "astro:assets";
import avatarBlog from "../assets/writing-pose.webp";
import ArticleSection from "../components/section/ArticleSection.astro";
---

<Layout title="Home | Aldrin's Blog">
  <main
    class="w-full mx-auto mt-36 flex flex-col items-center justify-center relative max-w-4xl"
  >
    <!-- Hero Section -->
    <section
      class="flex sm:justify-between gap-8 w-full sm:flex-row flex-col justify-center sm:items-center pl-11 sm:pl-0"
    >
      <header class="sm:ms-10 lg:ms-0">
        <h1 class="text-4xl sm:text-6xl font-bold leading-tight">
          Aldrin's <br />Thoughts
        </h1>
        <p class="text-secondary font-medium mt-4">
          Here, I write about tech and life.
        </p>
      </header>
      <Image
        src={avatarBlog}
        class="w-full max-w-48 -z-10 me-10 lg:me-0 -mb-4"
        alt="Writing Pose"
      />
    </section>
    <!-- Article Section -->
    <ArticleSection />
  </main>
</Layout>
