---

---

<div
  class="w-full h-[450px] rounded-2xl bg-[url(https://i.pinimg.com/1200x/6d/bd/9e/6dbd9e18600237825c6fc1efe8630cc5.jpg)] bg-cover bg-center"
>
  <a
    href=""
    class="w-full h-full bg-black/50 rounded-2xl p-8 flex flex-col justify-end relative"
  >
    <p class="text-white absolute top-6 left-8 font-semibold">#Website</p>
    <header class="w-[75%]">
      <h2 class="text-3xl font-bold text-white mb-2">Featured Article Title</h2>
      <p class="text-white truncate">
        A brief description or excerpt of the featured article goes here to
        entice readers to click and read more.
      </p>
    </header>
    <p class="text-white absolute bottom-6 right-8 font-medium">28 Dec 2025</p>
  </a>
</div>
