---
const currentYear = new Date().getFullYear();
---

<!-- <footer class="w-full p-4 rounded-t-2xl">
  
</footer> -->
<footer class="bg-white border-t border-gray-200 py-10">
  <div
    class="max-w-screen-xl mx-auto px-4 flex flex-col items-center justify-center space-y-3"
  >
    <div class="flex md:hidden md:flex-row items-center gap-6 md:gap-8">
      <div class="flex md:hidden items-center gap-6">
        <a
          target="_blank"
          href="https://github.com/hikmahabdillah"
          class="text-gray-600 hover:text-black transition duration-300 hover:-translate-y-1"
          aria-label="GitHub"
        >
          <i class="fa-brands fa-github fa-xl"></i>
        </a>

        <a
          target="_blank"
          href="https://www.linkedin.com/in/hikmah-aldrin-abdillah/"
          class="text-gray-600 hover:text-[#0A66C2] transition duration-300 hover:-translate-y-1"
          aria-label="LinkedIn"
        >
          <i class="fa-brands fa-linkedin-in fa-xl"></i>
        </a>

        <a
          target="_blank"
          href="https://medium.com/@neoparticle"
          class="text-gray-600 hover:text-black transition duration-300 hover:-translate-y-1"
          aria-label="Medium"
        >
          <i class="fa-brands fa-medium fa-xl"></i>
        </a>

        <a
          href="mailto:hikmahaldrin44@gmail.com"
          class="text-sm font-medium tracking-wide text-gray-600 hover:text-black hover:-translate-y-1 transition duration-300"
        >
          <i class="fa-solid fa-envelope fa-xl"></i>
        </a>
      </div>
    </div>

    <p class="text-sm text-gray-500 text-center">
      &copy; {currentYear} Hikmah Aldrin Abdillah. All rights reserved.
    </p>
  </div>
</footer>
