---
import { ChevronLeft, ChevronRight } from "@lucide/astro";

const { currentPage = 1, totalPages = 2 } = Astro.props;
---

<nav
  class="mt-28 flex justify-between items-center gap-3 mx-auto w-full max-w-xs"
  aria-label="Pagination"
>
  <a
    href={currentPage > 1 ? `/blog/page/${currentPage - 1}` : "/blog"}
    class={`text-xs md:text-sm flex items-center gap-1 pl-2 pr-4 py-2 rounded-md hover:underline ${
      currentPage === 1 && "pointer-events-none opacity-50"
    }`}><ChevronLeft /> Prev</a
  >
  <p class="text-xs md:text-sm">{currentPage} of {totalPages}</p>
  <a
    href={currentPage < totalPages
      ? `/blog/page/${currentPage + 1}`
      : `/blog/page/${totalPages}`}
    class={`text-xs md:text-sm flex items-center gap-1 pr-2 pl-4 py-2 rounded-md hover:underline ${
      currentPage === totalPages && "pointer-events-none opacity-50"
    }`}>Next <ChevronRight /></a
  >
</nav>
