---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import { Github, Instagram, Linkedin } from "@lucide/astro";
const { title } = Astro.props;
import icon from "../assets/black-h44 w bg-white.jpeg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href={icon.src} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <div
      class="absolute bg-gradient-to-br from-primary via-[primary/60] to-transparent -z-10 top-0 left-0 size-[300px] lg:size-[500px]"
    >
    </div>
    <div class="min-h-screen w-full max-w-5xl mx-auto p-4 relative text-dark">
      <Navbar />
      <!-- sidebar social media -->
      <aside class="fixed bottom-0 flex flex-col items-center gap-4 z-10">
        <a
          target="_blank"
          href="https://github.com/hikmahabdillah"
          class="transition duration-300 hover:scale-90"><Github /></a
        >
        <a
          target="_blank"
          href="https://www.linkedin.com/in/hikmah-aldrin-abdillah/"
          class="transition duration-300 hover:scale-90"><Linkedin /></a
        >
        <a
          target="_blank"
          href="https://www.instagram.com/hikmahald_"
          class="transition duration-300 hover:scale-90"><Instagram /></a
        >
        <div class="h-44 w-0.5 bg-dark"></div>
      </aside>
      <!-- sidebar email -->
      <aside
        class="z-10 fixed top-32 right-0 lg:right-auto xl:right-1/12 2xl:right-[15%] flex flex-col items-center mr-5 gap-4"
      >
        <div class="h-44 w-0.5 bg-dark"></div>
        <a
          href="mailto:hikmahaldrin44@gmail.com"
          class="[writing-mode:vertical-rl] font-medium tracking-widest text-sm hover:text-secondary transition duration-300"
          >hikmahaldrin44@gmail.com</a
        >
      </aside>
      <slot />
      <!-- <span class="text-8xl font-bold text-center">"</span> -->
    </div>
  </body>
  <!-- <div class="min-h-screen"></div> -->
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
