---
import Navbar from "../components/Navbar.astro";
import "../styles/global.css";
import Footer from "../components/Footer.astro";
import HeaderLayout from "./HeaderLayout.astro";
import SocialSidebar from "../components/SocialSidebar.astro";
import EmailSidebar from "../components/EmailSidebar.astro";

// type definition for props
interface Props {
  title: string;
  description: string;
}
const {
  title = "Aldrin's Personal Blog",
  description = "Welcome to Aldrin's Personal Blog, where I share my thoughts on web development, programming, and technology.",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <HeaderLayout {title} {description} />
  <body>
    <!-- gradient decoration -->
    <div
      class="absolute bg-gradient-to-br from-primary via-[primary/60] to-transparent -z-10 top-0 left-0 size-[300px] lg:size-[500px]"
    >
    </div>
    <!-- Main content -->
    <div
      class="min-h-screen w-full max-w-5xl mx-auto p-4 pb-0 relative text-dark"
    >
      <Navbar />
      <SocialSidebar />
      <EmailSidebar />
      <slot />
      <Footer />
    </div>
  </body><script
    src="https://kit.fontawesome.com/6a1f5752a8.js"
    crossorigin="anonymous"></script>
</html>
